<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.0">
	
	<!-- Base Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>
	<author>Esquared Systems</author>
	<description>MDR TB Module</description>
	
	<activator>org.openmrs.module.mdrtb.MdrtbActivator</activator>
		
	<updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL>

	<require_version>2.4.0</require_version>
	
	<require_modules>
		<require_module version="${openmrs.reporting.version}">org.openmrs.module.reporting</require_module>
		<require_module version="${openmrs.wsrest.version}">org.openmrs.module.webservices.rest</require_module>
<!-- 		<require_module version="${openmrs.addresshierarchy-api.version}">org.openmrs.module.addresshierarchy</require_module> -->
	</require_modules>
	
	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>
		
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.mdrtb.extension.html.AdminList</class>
	</extension>
	<extension>
		<point>org.openmrs.patientDashboardTab</point>
		<class>org.openmrs.module.mdrtb.extension.html.MdrtbPatientDashboardTabExt</class>
	</extension>
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>org.openmrs.module.mdrtb.extension.html.MdrtbGutterItem</class>
	</extension>

	<!--  AOP advice points -->
	<advice>
		<point>org.openmrs.api.ConceptService</point>
		<class>org.openmrs.module.mdrtb.service.ConceptServiceAdvice</class>
	</advice>
	
	<!-- Required Privileges -->
	<privilege>
		<name>Edit DOTS-MDR Data</name>
		<description>Allows user to access/edit DOTS and MDR-TB Patient Data</description>
	</privilege>

	<!-- Global properties -->
<!-- 	<globalProperty> -->
<!-- 		<property>@MODULE_ID@.program_name</property> -->
<!-- 		<defaultValue>MDR-TB PROGRAM</defaultValue> -->
<!-- 		<description> -->
<!-- 			MDR-TB program name. -->
<!-- 		</description> -->
<!-- 	</globalProperty> -->
	
	<dwr>
		<allow>
			<create creator="new" javascript="MdrtbFindPatient">
				<param name="class" value="org.openmrs.module.mdrtb.web.dwr.MdrtbFindPatient"/>
				<include method="findPatients"/>
				<include method="findPeople"/>
				<include method="findAllPeople"/>
			</create>		
		</allow>
		
		<signatures>
			<![CDATA[  ]]>
		</signatures>	
	</dwr>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<messages>
		<lang>ht</lang>
		<file>messages_ht.properties</file>
	</messages>
	<messages>
		<lang>pt</lang>
		<file>messages_pt.properties</file>
	</messages>
	<messages>
		<lang>de</lang>
		<file>messages_de.properties</file>
	</messages>
	<messages>
		<lang>de</lang>
		<file>messages_de.properties</file>
	</messages>
	<messages>
		<lang>fa</lang>
		<file>messages_fa.properties</file>
	</messages>
	<messages>
		<lang>si</lang>
		<file>messages_si.properties</file>
	</messages>
	<messages>
		<lang>hi</lang>
		<file>messages_hi.properties</file>
	</messages>
	<messages>
		<lang>ar</lang>
		<file>messages_ar.properties</file>
	</messages>
	<messages>
		<lang>pl</lang>
		<file>messages_pl.properties</file>
	</messages>
	<messages>
		<lang>it</lang>
		<file>messages_it.properties</file>
	</messages>
	<messages>
		<lang>el</lang>
		<file>messages_el.properties</file>
	</messages>
	<messages>
		<lang>ru</lang>
		<file>messages_ru.properties</file>
	</messages>
	<messages>
		<lang>lt</lang>
		<file>messages_lt.properties</file>
	</messages>
	<messages>
		<lang>hy</lang>
		<file>messages_hy.properties</file>
	</messages>
	<messages>
		<lang>te</lang>
		<file>messages_te.properties</file>
	</messages>
	<messages>
		<lang>sw</lang>
		<file>messages_sw.properties</file>
	</messages>
	<messages>
		<lang>ku</lang>
		<file>messages_ku.properties</file>
	</messages>
	<messages>
		<lang>id_ID</lang>
		<file>messages_id_ID.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>
